/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
}

.container .head {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 50px;
    z-index: 1000000;
}

.container .head img { 
    width: 13%;
} 

.container .head a { 
    color: white;
    text-decoration: none;
    background-color: #e50914;
    /* float: right; */
    padding: 8px 18px;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 5px;
    
} 

.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to bottom, black, transparent);
}

.banner::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top, black, transparent);
}

.banner .fit {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.banner .box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; 
}

.banner .box .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .box .heading h2 {
    font-size: 3.125rem;
    color: white;
    letter-spacing: 2px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    
}

.banner .box .heading h5 {
    font-size: 1.625rem;
    color: white;
    font-weight: 400;
    padding: 1rem 0;
}

.banner .box .heading p {
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    padding: 15px 0;
    padding-bottom: 20px;
}

.banner .box .search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 2%; */
}

.banner .box .search input {
    font-size: 16px;
    border: 1px solid #8c8c8c;
    outline: none;
    color: black;
    border-radius: 2px;
    padding: 10px;
    min-width: 400px;
    height: 60px;
    align-items: center;
}

.banner .box .search a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1.625rem;
    letter-spacing: 0.1px;
    background: #e50914;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
    padding: 0 30px;
    min-width: 310px;
    line-height: 60px;
    font-family: 'Open Sans', sans-serif;
}

.partOne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 2rem 4rem;
    border-bottom: 0.6rem solid #111;
}

.partOne .talk {
    width: 40%;
}

.partOne .image {
    width: 40%;
}

.partOne .image img{
    width: 100%;
}

.partOne .talk h1 {
    font-size: 3.125rem;
    letter-spacing: 3px;
    line-height: 1.1;
    margin-bottom: 1.5rem;
}

.partOne .talk p {
    font-size: 1.7rem;
}

.partSecond {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 2rem 4rem;
    border-bottom: 0.6rem solid #111;
}

.partSecond .talkTwo {
    width: 45%;
}

.partSecond .image {
    width: 40%;
}

.partSecond .image img{
    width: 100%;
}

.partSecond .talkTwo h1 {
    font-size: 3.125rem;
    letter-spacing: 2px;
    line-height: 1.1;
    margin-bottom: 1.5rem;
}

.partSecond .talkTwo p {
    font-size: 1.7rem;
}

.listQues {
    color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.listQues h1 {
    font-size: 3rem;
    padding: 3rem 0 4rem 0;
}

.title {
    background: #303030;
    padding: 20px 30px;
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.icon {
    width: 20px;
    position: relative;
}

.icon::before, .icon::after {
    content: '';
    position: absolute;
    background: white;
    width: 20px;
    height: 3px;
    top: -1.5px;
}

.icon::after {
    transform: rotate(90deg);
    transition: 0.5s linear;
}

.text {
    background: #303030;
    line-height: 35px;
    margin: 3px 0;;
    font-size: 1.7rem;
    font-weight: 400;
    color: white;
    /* padding: 10px 30px; */
    height: 0;
    opacity: 0;
}

.item:target .icon {
    transform: rotate(45deg);
}
.item:target .text {
    opacity: 1;
    height: auto;
    padding: 20px 30px;
    margin: 0;
    border-top: 2px solid black;
    margin-bottom: 6px;
}

.bannerTwo {
    
   border-bottom: 0.6rem solid #111;
}

.bannerTwo .box {
   margin: 4rem 0; 
}

.bannerTwo .box .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bannerTwo .box .heading h2 {
    font-size: 3.125rem;
    color: white;
    letter-spacing: 2px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    
}

.bannerTwo .box .heading h5 {
    font-size: 1.625rem;
    color: white;
    font-weight: 400;
    padding: 1rem 0;
}

.bannerTwo .box .heading p {
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    padding: 15px 0;
    padding-bottom: 20px;
}

.bannerTwo .box .search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.bannerTwo .box .search input {
    font-size: 16px;
    border: 1px solid #8c8c8c;
    outline: none;
    color: black;
    border-radius: 2px;
    padding: 10px;
    min-width: 400px;
    height: 60px;
    align-items: center;
}

.bannerTwo .box .search a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1.625rem;
    letter-spacing: 0.1px;
    background: #e50914;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
    padding: 0 30px;
    min-width: 310px;
    line-height: 60px;
    font-family: 'Open Sans', sans-serif;
}

.footerSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 4rem 0;
}

.footerSection .one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 25%;
}

.one li {
    padding: 5px 0;
}

.one li a {
    color: #ccc;
    text-decoration: none;
}

.one li a:hover {
    border-bottom: 1px solid #ccc;
}

footer > h3 {
    color: white;
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-size: 1rem;
    font-weight: 200;
}



/* Responsive */

@media screen and (max-width: 787px) {
    
    .container .head {
        padding: 20px 50px;
    }

    .container .head img { 
        width: 20%;
    }    

    .box {
        top: 5%;
        bottom: 5%;
    }
    .banner .box .heading h2 {
        font-size: 3.1rem;
        letter-spacing: 1.5px;
        width: 100%;
        
    }
    
    .banner .box .heading h5 {
        font-size: 1.4rem;
        padding: 0.8rem 0;
    }
    
    .banner .box .heading p {
        font-size: 1.1rem;
        padding: 13px 0;
        padding-bottom: 17px;
    }
    
    .banner .box .search {
        flex-direction: column;
        /* margin-bottom: 2%; */
    }

    .banner .box .search input {
        min-width: 310px;
        margin-bottom: 20px;
    }

    .partOne {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 2rem 1rem;
        text-align: center;
    }
    
    .partOne .talk {
        width: 80%;
        margin: 20px 0 30px 0;
    }
    
    .partOne .image {
        width: 80%;
         margin-top: 15%;
    }
    
    .partOne .talk h1 {
        font-size: 3.2rem;
        letter-spacing: 1.5px;
        padding-bottom: 5px;
    }
    
    .partOne .talk p {
        font-size: 1.5rem;
    }

    
.partSecond {
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem;
    text-align: center;
}

.partSecond .talkTwo {
    width: 80%;
    margin: 20px 0 30px 0;
}

.partSecond .image {
    width: 80%;
}

.partSecond .talkTwo h1 {
    
    font-size: 3.2rem;
    letter-spacing: 1.5px;
    padding-bottom: 5px;
}

.partSecond .talkTwo p {
    font-size: 1.5rem;
}

.listQues {
    width: 80%;
}
.listQues h1 {
    font-size: 2.6rem;
    text-align: center;
}

.title {
    font-size: 1.6rem;
}

.bannerTwo .box {
    margin: 4rem 0;
}

.bannerTwo .box .heading p {
    font-size: 1.1rem;
    padding: 13px 0;
    padding-bottom: 17px;
}

.bannerTwo .box .search {
    flex-direction: column;
}

.bannerTwo .box .search input {
    min-width: 310px;
    margin-bottom: 20px;
}


.footerSection {
    flex-direction: column;
}

.footerSection .one {
    width: 50%;
}

}

@media screen and (max-width: 496px) {
       
.container .head img { 
        width: 25%;
    }  
      
.box{
    top: 5%;
    bottom: 5%;
} 
    .banner .box .heading h2 {
        font-size: 2.8rem;
        letter-spacing: 1.3px;
        
    }
    
    .banner .box .heading h5 {
        font-size: 1.2rem;
    }
    
    .banner .box .heading p {
        font-size: 1rem;
        padding: 12px 0;
        padding-bottom: 15px;
    }
    

    .banner .box .search input {
        margin-bottom: 10px;
    }

    .partOne .image {
       margin-top: 15%;
    }
    
    .partOne .talk h1 {
        font-size: 3rem;
        letter-spacing: 1.2px;
    }
    
    .partOne .talk p {
        font-size: 1.2rem;
    }


.partSecond .talkTwo h1 {
    font-size: 3rem;
    letter-spacing: 1.2px;
}

.partSecond .talkTwo p {
    font-size: 1.2rem;
}

.listQues {
    width: 90%;
}

.listQues h1 {
    font-size: 2.1rem;
}

.title {
    font-size: 1.2rem;
}

.bannerTwo .box .heading p{
    font-size: 1.2rem;
    padding: 13px 30px;
    text-align: center;
}

.bannerTwo .box .search input {
    margin-bottom: 10px;
}

.text {
    font-size: 1.1rem;
}

}